{% comment %}

    Adds html audio element with source listed in object_location of a child item.
    Provides a fallback to download the file.

{%- endcomment -%}
<a href="{{ child.object_location | relative_url }}" target="_blank" rel="noopener">
    <img class="img-thumbnail" src="{{ child.image_thumb | default: child.image_thumb | relative_url }}" alt="{{ child.image_alt_text | default: child.description | default: child.title | escape }}">
</a>

<audio controls class="w-100">
    <source src="{{ child.object_location | relative_url }}">
    Your browser does not support the audio element. Please <a href="{{ child.object_location | relative_url }}">download the audio file</a>.
</audio>